@font-face {
    font-family: font-one;
    src: url(../asserts/fonts/ABCSocialMono-Regular.woff2);
}

@font-face {
    font-family: font-two;
    src: url(../asserts/fonts/Futura-Bold.woff2);
}

@font-face {
    font-family: font-three;
    src: url(../asserts/fonts/HelveticaNowText-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-three;
}

html,
body {
    width: 100%;
    height: 100%;
}

*::selection {
    color: #fff;
    background-color: black;
}


/* Swiper CSS */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* Swiper CSS */


nav {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.2vw 1.2vw 0px 1.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    height: 82px;
    overflow-y: hidden;
    align-self: flex-start;
}

.logo svg {
    display: block;
}

.nav-left {
    display: flex;
    align-self: flex-start;
}

.navigation {
    margin: 0px 60px 0px 10px;
}

.navigation ul {
    display: flex;
    gap: 3vw;
}

.navigation ul li {
    list-style: none;
    font-size: 12px;
    cursor: pointer;
}

.info-btn {
    transition: 0.2s ease;
    border-radius: 30px;
    background-color: #fff;
    margin-top: -10px;
    display: flex;
    align-items: center;
    width: 130px;
    height: 36px;
    padding: 10px 14px;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    width: 18px;
    height: 1px;
}

.bar-one {
    margin-bottom: 4.5px;
    background-color: black;
}

.bar-two {
    margin-top: 4.5px;
    background-color: black;
}

.page-one {
    width: 100%;
    min-height: auto;
}

.nav {
    transition: 0.2s ease;
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    transform: translateY(-100%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 1.2vw;
}

.nav>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav>div:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.svg {
    color: white;
    width: 2.3vw;
    height: 2.3vw;
}

.nav h1 {
    cursor: pointer;
    line-height: 1em;
    font-weight: 500;
    color: white;
    font-size: 4vw;
    font-family: font-two;
}

.nav-heading-parent {
    overflow: hidden;
    width: fit-content;
}

.nav-heading-parent h1 {
    transform: translateY(100%);
}

.nav h5 {
    font-weight: 400;
    margin-bottom: 32px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.ul2 {
    margin-bottom: 48px;
}

.ul3 {
    margin-bottom: 74px;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    line-height: 1.5;
    font-weight: 400;
}

.menu {
    padding: 10px;
}

.nav>div {
    margin-top: 110px;
    margin-bottom: 24px;
}

.heading-parent {
    margin-top: 11.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elem-div {
    display: flex;
    gap: 4vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    overflow: hidden;
}

.elem-div h1 {
    opacity: 0;
    font-size: 16.5vw;
    letter-spacing: -0.9vw;
    line-height: 14vw;
    font-family: font-two;
    transform: translateY(100%);
}

.book-img-div {
    overflow: hidden;
    width: 100%;
}

.book-image {
    position: relative;
}

.book-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.abs {
    position: absolute;
    top: 30%;
    left: 60%;
}

#moving-svg {
    width: 10vw;
    height: 10vw;
    animation-name: moving;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moving {
    100% {
        transform: rotate(360deg);
    }
}

.moving-svg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    font-family: font-two;
}

.page-two {
    width: 100%;
    height: auto;
    padding: 0px 1vw;
}

.bd-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

.bd-bottom h6 {
    font-size: 12px;
    color: #000;
}

.cards-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.card-cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-div>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-details {
    transition: height 0.2s ease;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 9;
    width: 303px;
    border-radius: 25px;
    height: 50px;
}

.one {
    background-color: #E5F0D6;
}

.two {
    background-color: #F5DFCF;
}

.three {
    background-color: #ECECEC;
}

.child-one {
    padding-left: 25px;
    padding-right: 25px;
    margin: 15px 0px 13px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child-one i {
    font-size: 10px;
}

.card-details:hover {
    height: 244px;
}

.cards-bottom-content {
    margin-top: 4vw;
    display: flex;
    gap: 30vw;
    justify-content: space-between;
    align-items: flex-start;
}

.cards-bottom-content h2 {
    font-size: 56px;
    font-family: font-two;
    line-height: 1em;
}

.cards-bottom-content>div {
    margin-right: 8.5vw;
}

.cards-bottom-content>div p {
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 1.5;
    margin-bottom: 32px;
}

.cards-bottom-content>div button {
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.page-three {
    padding: 0px 1vw;
    width: 100%;
    height: auto;
}

.products-div {
    margin-top: 7.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.products-div>div {
    cursor: pointer;
    position: relative;
}

.products-div>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 100px;
}

.price {
    width: 90%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.price p {
    font-size: 0.75rem;
    letter-spacing: 0.06em;
    line-height: 1.1;
    text-align: center;
}

.cursor {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    background-color: #F5DFCF;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
}

.page-four {
    width: 100%;
    height: 100vh;
    padding: 0px 1vw;
}

.wrapper {
    margin-top: 10vw;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2.5vw;
}

.content-left {
    padding-right: 11vw;
}

.content-left button {
    font-family: font-one;
    font-weight: 500;
    padding-bottom: 8px;
    letter-spacing: 0.05em;
    font-size: 12px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}

.content-left h3 {
    font-size: 1.5em;
    line-height: 0.9;
    font-weight: 500;
    margin-bottom: 32px;
    font-family: font-two;
}

.content-left p {
    margin-bottom: 32px;
    font-size: 16px;
    letter-spacing: 0.01em;
}

.images-div {
    overflow: hidden;
    display: flex;
    gap: 20px;
}

.images-div>div {
    width: 100%;
    height: 100%;
}

.images-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-section {
    padding: 0px 1vw;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.news-letter-div {
    width: 100%;
    position: relative;
    margin-top: 2vw;
}

.footer-center {
    width: 100%;
    margin-top: 210px;
}

.footer-center>div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-center>div>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-center>div>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center>div>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
}

.footer-center ul li {
    list-style-type: none;
    line-height: 1.4;
}

.footer-center ul li a {
    text-decoration: none;
    color: black;
}

.footer-center>div>div:nth-child(1) h5 {
    opacity: 0.5;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 16px;
}

.footer-center>div>div:nth-child(3) h5 {
    opacity: 0.5;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 16px;
}

.footer-center svg {
    width: 216px;
    height: 215px;
}

.links {
    margin-top: 88px;
    margin-bottom: 300px;
    font-size: 12px;
    opacity: 0.5;
    display: flex;
    gap: 32px;
}

.links a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.news-letter-div input {
    padding-top: 25px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
    width: 100%;
    outline: none;
    font-size: 2.1vw;
    color: #000;
    font-family: font-two;
    font-weight: 400;
}

.news-letter-div input::placeholder {
    color: #000;
    font-family: font-two;
    font-weight: 400;
    font-size: 2.1vw;
}

.news-letter-div i {
    font-size: 23px;
    position: absolute;
    bottom: 30%;
    right: 0;
}

.carousel-section {
    margin-top: 11vw;
    padding: 0px 1vw;
    width: 100%;
    height: auto;
}

@media screen and (max-width:1023px) {
    .heading-parent {
        margin-top: 22.5vw;
    }

    .navigation {
        display: none;
    }

    .cards-div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 15px;
    }

    .cards-bottom-content {
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        align-items: center;
    }

    .cards-bottom-content h2 {
        font-size: 32px;
        text-align: center;
    }


    .cards-bottom-content>div {
        margin-right: 0vw;
    }

    .cards-bottom-content>div p {
        font-size: 16px;
        text-align: center;
        margin-bottom: 32px;
    }

    .cards-bottom-content>div button {
        display: block;
        margin: 0px auto;
        text-align: center;
    }

    .wrapper {
        margin-top: 10vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .content-left {
        margin-top: 25px;
        width: 710px;
        order: 2;
    }

    .footer-center>div {
        width: 100%;
        display: grid;
        /* background-color: red; */
        grid-row-gap: 70px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .footer-center svg {
        width: auto;
        height: 68px;
    }

    .footer-center>div>div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .footer-center>div>div:nth-child(2) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .footer-center>div>div:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .footer-center {
        width: 100%;
        margin-top: 70px;
    }

    .nav {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        grid-column-gap: 15px;
    }

    .nav>div:nth-child(1) {
        justify-content: flex-start;
        grid-row-start: 2;
    }

    .nav>div:nth-child(2) {
        justify-content: flex-start;
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .nav>div:nth-child(3) {
        justify-content: flex-start;
        grid-column-start: 3;
        grid-row-start: 2;
        margin-right: 20px;
    }

    .nav>div:nth-child(4) {
        grid-column-start: 3;
        grid-row-start: 1;
        margin-right: 20px;
        margin-bottom: 100px;
    }

    .nav h1 {
        font-size: 40px;
    }

    .nav>div:nth-child(4) {
        margin-top: 80px;
    }

    .nav>div {
        margin-top: 0px;
    }

    .svg {
        color: white;
        width: 25px;
        height: 25px;
    }

    .ul2,
    .ul3 {
        margin-bottom: 0px;
    }

}

@media screen and (max-width:720px) {
    .content-left {
        width: 100%;
    }
}

@media screen and (max-width:599px) {
    .cursor {
        display: none;
    }

    .heading-parent {
        margin-top: 50vw;
    }

    .navigation {
        display: none;
    }

    .info-btn {
        margin-top: 10px;
    }

    .elem-div h1 {
        font-size: 16vw;
        letter-spacing: -0.4vw;
        line-height: 17vw;
    }

    .abs {
        top: 15%;
        left: 60%;
    }

    .book-image img {
        width: 100vw;
        height: 100vw;
    }

    #moving-svg {
        width: 25vw;
        height: 25vw;
    }

    .moving-svg-text {
        font-size: 3vw;
    }

    .page-two {
        padding: 0px 4vw;
    }

    .cards-bottom-content {
        margin-top: 8vw;
    }

    .page-three {
        padding: 0px 4vw;
    }

    .products-div {
        margin-top: 25.5vw;
    }

    .page-four {
        padding: 0px 4vw;
    }

    .images-div {
        overflow: hidden;
        display: flex;
        gap: 15px;
    }

    .news-letter-div input {
        padding-top: 25px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 8px;
        width: 100%;
        outline: none;
        font-size: 3.5vw;
        color: #000;
        font-family: font-two;
        font-weight: 400;
    }

    .news-letter-div input::placeholder {
        font-size: 3.8vw;
    }

    .news-letter-div i {
        bottom: 13%;
        font-size: 20px;
    }

    .footer-section {
        padding: 0px 4vw;
    }

    .links {
        margin-bottom: 20px;
    }

    .nav>div:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 4;
        margin-right: 10px;
    }

    .nav>div:nth-child(3) {
        margin-right: 10px;
    }

    .nav>div:nth-child(1) {
        margin-left: 10px;
    }
}